<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    
    <connectionStrings>
      <add name="POS" connectionString="Server=localhost\SQLEXPRESS;Database=POS-STG;Trusted_Connection=True;" 
           providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      No exemplo a seguir, a transformação "Replace" substituirá toda a 
      seção <customErrors> do arquivo web.config.
      Observe que como existe apenas uma seção customErrors sob o nó 
      <system.web>, não há necessidade de usar o atributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>
</configuration>